.price-input-container{
    background-image: url(./assets/lake.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: rgb(0,0,0);
    background: linear-gradient(135deg, rgba(0,0,0,1) 76%, rgba(253,190,21,1) 100%); */
}

.price-input-form{
    backdrop-filter: blur(6px) saturate(151%);
    -webkit-backdrop-filter: blur(6px) saturate(151%);
    background-color: rgba(17, 25, 40, 0.57);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

}

.price-input{
    border: none;
}

@media (max-width: 640px) {
     .travel-container{
        flex-basis: 100%;

    }
    .travels-grid{
        justify-content: center;
    }

    .price-input-container{
        padding-top: 10px;
    }

    .price-input-form{
        width: 80%;
        padding: 30px 0;
    }

    .price-input , .btn-price-form{
        width: 160px;
        height: 30px;
        font-size: 12px;
    }

}